<a href="https://colab.research.google.com/github/maadunson128/electoral_bonds_analysis/blob/master/eda_electoral_bonds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook will contains the data transformation of electoral bonds data and initial exploratory data analysis of the dataset located in the data folder.

In [5]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [7]:
#reading the csv files
file1 = pd.read_csv('/content/drive/MyDrive/Projects/Data/Electoral_Data_Analysis/EB_Purchase_Details.csv')
file2 = pd.read_csv('/content/drive/MyDrive/Projects/Data/Electoral_Data_Analysis/EB_Redemption_Details.csv')

In [8]:
file1

,Sr No.,Reference No (URN),Journal Date,Date of\rPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status
0,1,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11448,"10,00,000",1,5899230,Paid
1,2,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11447,"10,00,000",1,5899230,Paid
2,3,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11441,"10,00,000",1,5899230,Paid
3,4,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1113,"1,00,000",1,5899230,Paid
4,5,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1118,"1,00,000",1,5899230,Paid
...,...,...,...,...,...,...,...,...,...,...,...,...
18866,18867,1202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15695,"1,00,00,000",1,5898161,Paid
18867,18868,1202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15693,"1,00,00,000",1,5898161,Paid
18868,18869,1202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15697,"1,00,00,000",1,5898161,Paid
18869,18870,1202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,17803,"1,00,00,000",1,5898161,Paid
18870,18871,1202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15691,"1,00,00,000",1,5898161,Paid

In [9]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18871 entries, 0 to 18870
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sr No.                 18871 non-null  int64
 1   Reference No  (URN)    18871 non-null  object
 2   Journal Date           18871 non-null  object
Purchase       18871 non-null  object
 4   Date of Expiry         18871 non-null  object
 5   Name of the Purchaser  18871 non-null  object
 6   Prefix                 18871 non-null  object
Number            18871 non-null  int64
 8   Denominations          18871 non-null  object
 9   Issue Branch Code      18871 non-null  int64
 10  Issue Teller           18871 non-null  int64
 11  Status                 18871 non-null  object
dtypes: int64(4), object(8)
memory usage: 1.7+ MB